@model Tutorial

<form action="Add" method="post" enctype="multipart/form-data" >
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="Title">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Author</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="Author">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
            <textarea rows="4" class="form-control" asp-for="Description"></textarea>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Tutorial Image</label>
        <div class="col-sm-10">
            <input type="file" class="form-control" asp-for="File">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Tutorial Type</label>
        <div class="col-sm-10">
            <select asp-for="Type" class="form-control">
                @foreach (var type in Enum.GetValues<TutorialType>())
                {
                    <option value="@type">@type</option>
                }
            </select>
        </div>
    </div>

    <button type="submit" class="btn btn-success">Save Tutorial</button>
</form>