@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to FWD Tutorials!</h1>
    <img src="/images/banner.jpg" height="600" />
</div>

<div class="row row-cols-1 row-cols-md-2 g-4 mt-4">
  <div class="col">
    <div class="card">
      <img src="/images/banner.jpg" height="200" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Git and Github</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Frontend</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/images/Csharp.jpg" class="card-img-top" alt="C#and.NET">
      <div class="card-body">
        <h5 class="card-title">C# and .Net</h5>
        <p class="card-text">C# is a versatile programming language that enables developers to write clean,efficient and scalable code. Paired with the .NET Framework,it provides a powerful platform for building robust web applications using structured architecture like MVC(Model-View-Controller). This combination allows seamless integration of server-side logic, database management,and API creation for enterprise-level solutions.
        C# and .NET simplify complex backend tasks by providing pre-built libraries and tools, making it easier for beginners to focus on creating functional applications without reinventing the wheel. 
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">ASP.NET Core</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>