@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to FWD Tutorials!</h1>
    <img src="/images/banner.jpg" height="600" />
</div>

<div class="row row-cols-1 row-cols-md-2 g-4 mt-4">
  <div class="col">
    <div class="card">
      <img src="/images/banner.jpg" height="200" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/Images/frontendDesign.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Front-end</h5>
        <p class="card-text">Frontend refers to the part of a website or application that users see and interact 
          with directly. It includes everything on the screen—like buttons, text, images, and layouts—built using technologies 
          such as HTML (structure), CSS (styling), and JavaScript (interactivity). In short, it’s the user-facing side of development, 
          focused on design and experience.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>