<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FWDSchool.Web</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FWDSchool.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-icon/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/Prism/prism.css">




</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-secondary-subtle text-secondary-emphasis border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="/home/index">
                    <img src="/images/FWDLogo.png" height="40" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="VersionControl" asp-action="Index"><i
                                    class="bi bi-git text-danger"></i> Version Control</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Frontend" asp-action="index"><i
                                    class="bi bi-code-slash"></i> Frontend Development</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Backend" asp-action="Index"><i
                                    class="bi bi-gear-fill text-success"></i> Backend Development</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Database" asp-action="Index"><i
                                    class="bi bi-database text-primary"></i> Databases</a>

                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false"><i class="bi bi-person-circle text-primary"></i> Admin</a>

                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item text-dark" asp-controller="Tutorials" asp-action="Add"><i class="bi bi-caret-right"></i> New Tutorial</a></li>
                                <li><a class="dropdown-item text-dark" asp-controller="TutorialSection" asp-action="Add"><i class="bi bi-caret-right"></i> New Tutorial Section</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer text-muted mt-4">
        <div class="container">
            &copy; @DateTime.Now.Year - FWDSchool
            <p class="float-end"><b>Created by</b> Poonam, Laxmi and Samikshya</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/Prism/prism.js"></script>


    @await RenderSectionAsync("Scripts", required: false)


</body>

</html>